*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background-image: url("ImgPosada.JPG");
	text-align: center;
	width: 100%;
	height: 30%;
	background-size: cover;
	background-attachment: scroll;
	position: relative;
	overflow: hidden;
	border-radius: 0% 0% 80% 80% / 40%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(180deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}

@media screen and (max-width:480px) {
  header {
    background-image: url("ImgPosada.JPG");
    text-align: center;
    width: 100%;
    height: 30%;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    overflow: hidden;
    border-radius: 0% 0% 20% 20% / 10%;
  }

  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .no-mostrar{
    display: none;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-headerr {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}